#container{
  width:60%;
  background: #fff;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
  margin: 10px auto 10px auto !important;
  min-height:100vh;
}

.ql-toolbar.ql-snow{
  display:flex;
  justify-content:center;
  position: sticky;
  top:0;
  z-index: 1;
  background:#F3F3F3;
  border:none !important;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  background-color: rgba(224, 241, 248, 0.502);
  border-bottom-left-radius:10% 30%;
  border-bottom-right-radius:10% 30%;
  border-top-right-radius:10% 30%;
  border-top-left-radius:10% 30%;
}
.ql-toolbar:first-child {
  display: none !important;
  
}
.css-1pdx4jw {
  padding-left: 60px;
  padding-right: 60px;
}
.sc-jnqLxu.klywwK{
  display:flex;
  top:0; 
  padding-left: 60px;
  padding-right: 60px;
}

